<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EARO</title>
  <link rel="stylesheet" href="css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
</head>

<body>
    <div id="background_about">
      <header class="cf">
      <div class="wrapper_wide">
        <a href="index.html" id="logo">Earo</a>
        <nav>
         <ul>
            <li><%= link_to "Inventory", issues_path %></l>
            <li><%= link_to "Sign In", new_issue_session_path %></li>
            <li><%= link_to "Post A Module", new_issue_registration_path %></li>
          </ul>
        </nav>
    </div>
      </header>
      <div class="wrapper_skinny">
        <h1>We the Earo</h1>
        <h2>“Where anyone can build their own dream project.”</h2>
      <p><em>Earo</em> is an anonymous, disinterested, non-for profit and collaborative research
        electronic module forum that seeks to enable the DIYer to build his own vision for a fraction of the cost.
       With the same genesis as other legacy maker communities such as hackaday and group-diy to name a few, Earo was conceived out
      of a belief that transparency of information only makes the maker much more productive.

       Hence, Earo unequivocally rejects the hypothesis that centralization in manufacturing is <b> second nature.</b></p>


      <a href="sign-up.html" class="button button_highlight">Create an Module</a>
      <a href="issues.html" class="button button_white">All Items</a>

    </div>
  </div>


</body>
</html>
