  <header id="main_header" class="cf">
  <div class="wrapper_wide">
    <a href="show.html" id="logo">EARO</a>
    <nav>
      <ul>
        <li><a href="issues.html">Module</a></li>
        <li><a href="sign_in.html">Sign In</a></li>
        <li><a href="sign_in.html">Create a Module</a></li>
        <li><a href="about.html">About us</a></li>
      </ul>
    </nav>
</div>
</header>

<div id="issues_show">
 <div id="show_banner">
  <div class="wrapper_skinny">
    <h1><%= @issues.title %></h1>
    <p class="description">Getting your build right. Together! </p>
    <a href="#" class="subscribe_link">Videos</a>
    <a href="#" class="subscribe_link">Table of Contents</a>
    <a href="#" class="subscribe_link">Research</a>
     </div>
    </div>

    <div id="breadcrumb">
       <%= link_to issues_path do %>
           All Issues
           <span>/</span>
        Module Mods
       <% end %>
    </div>
    <div id="economicissues">
    <div class="wrapper_skinny">
      <ul class="cf">
        <li class="cf">
        <div class="economicissues_thumbnail">
        <a href="#">
        <img src="/images/grain.jpg" alt="grain">
          </a>
         </div>
         <div class="economicissues_overview">
         <h2><a href="#">Calibrating with ease!
         Together we can.</a></h2>
         <p class="description">A step by step module calibration</p>
       </div>
      </li>
      <li class="cf">
      <div class="economicissues_thumbnail">
      <a href="#">
      <img src="/images/grain.jpg" alt="grain">
        </a>
       </div>
       <div class="economicissues_overview">
       <h2><a href="#">Getting your module calibration right.</a></h2>
       <p class="description"> the initiatives1</p>
     </div>
    </li>
    <li class="cf">
    <div class="economicissues_thumbnail">
    <a href="#">
    <img src="/images/grain.jpg" alt="grain">
      </a>
     </div>
     <div class="economicissues_overview">
     <h2><a href="#">Getting your module calibration right.
     Together we can.</a></h2>
     <p class="description"> the  initiatives2</p>
   </div>
  </li>
  <li class="cf">
  <div class="economicissues_thumbnail">
  <a href="#">
  <img src="/images/grain.jpg" alt="grain">
    </a>
   </div>
   <div class="economicissues_overview">
   <h2><a href="#">Getting your module calibration right.
   Together we can.</a></h2>
   <p class="description">
     the initiatives3</p>
 </div>
</li>
     </ul>
    </div>
   </div>
  </div>
  <div class="pagination">
      <span class="previous_page disabled">Previous</span>
    <em class="current">1</em>
    <a href="#">2</a>
    <a class="next_page" href="#">Next</a>
  </div>
