<div id="background">
  <header class="cf">
  <div class="wrapper_wide">
    <a href="index.html" id="logo">DEPolitik</a>
    <nav>
      <ul>
        <li><a href="issues.html">Issues</a></li>
        <li><a href="sign_in.html">Sign In</a></li>
        <li><a href="sign_up.html">Create an Issue</a></li>
        <li><a href="about.html">About</a></li>
      </ul>
    </nav>
</div>
  </header>
  <div class="wrapper_skinny">
  <h1> Discover your new favorite issues<br>or create your own</h1>
  <%= link_to "Create an Issue", new_issue_registration_path, class: "button button_highlight" %>
  <a href="issues.html" class="button button_white">All Issues</a>

 </div>
</div>
